
@{
    ViewBag.Title = "_Footer";
}

<footer>
    <div class="container">
        <div class="col-lg-12">
            <p><strong>Arhiva Literelor</strong> – librăria ta digitală. Oferim cărți din toate domeniile, la cele mai bune prețuri și livrate rapid. </p>
        </div>
    </div>
</footer>

